*.py[cod]
*.gz
*.DS_Store
upload_static.py
settings.py
config.py
venv
trash
app/static/img/thumbnails
.sass-cache
gif/*/*.PNG
gif/*/*.png
gif/*/*.gif
*.gfw
northeast_201*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
